.elements {
  background-color: azure;
  color: rgb(40, 2, 2);
  padding: 30px 20px;
  border: none;
  cursor: pointer;
  /* Add more styles as needed */
}

input[type='file']::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #dec615;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.uploadbtn {
  margin-right: 20px;
  border: none;
  background: #6188dc;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: black;
  font-weight: bold;
  background: #dec615;
  border: 2px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
